## This file create a dataset of coordinates of neighborhoods in Seattle using **Google Maps API geocoding**.  
* The list of Seattle zipcodes comes from https://www.zip-codes.com/city/wa-seattle.asp

In [2]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
import json # library to handle JSON files
!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library
!conda install -c conda-forge geocoder --yes
from geopy.geocoders import Nominatim
print('Libraries imported.')

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.8.1

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.8.1

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.8.1

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

Libraries imported.

### Step 1. Create the list of Seattle zip codes.

In [5]:
data = pd.read_csv('seattle zip.txt', error_bad_lines=False).reset_index()
data.head()

,index,ZIP Code zipcode Type\tCounty\tPopulation\tArea Code(s)
0,ZIP Code 98101\tStandard\tKing\t10,238\t206 / 425 / 360 / 253 / 564
1,ZIP Code 98102\tStandard\tKing\t20,756\t206 / 425 / 360 / 564
2,ZIP Code 98103\tStandard\tKing\t45,911\t206
3,ZIP Code 98104\tStandard\tKing\t13,095\t206 / 425 / 360 / 253 / 564
4,ZIP Code 98105\tStandard\tKing\t43,924\t206

In [6]:
def zip_extract(string):
    return string[9:14]

In [7]:
seattle_zip=pd.DataFrame(data['index'].apply(zip_extract))
seattle_zip.columns=['zipcode']
seattle_zip

   zipcode
0    98101
1    98102
2    98103
3    98104
4    98105
5    98106
6    98107
7    98108
8    98109
9    98110
10   98111
11   98112
12   98113
13   98114
14   98115
15   98116
16   98117
17   98118
18   98119
19   98121
20   98122
21   98124
22   98125
23   98126
24   98127
25   98129
26   98131
27   98133
28   98134
29   98136
30   98138
31   98139
32   98141
33   98144
34   98145
35   98146
36   98148
37   98154
38   98155
39   98158
40   98160
41   98161
42   98164
43   98165
44   98166
45   98168
46   98170
47   98174
48   98175
49   98177
50   98178
51   98181
52   98185
53   98188
54   98190
55   98191
56   98194
57   98195
58   98198
59   98199

### Step 2. Find coordinates of those neighborhoods.

In [8]:
import geocoder # import geocoder
from API_KEY import API_KEY # This is a py file containig my API key for Google Maps API.

In [9]:
latitudes = [] # Initializing the latitude array
longitudes = [] # Initializing the longitude array
zipcodes=seattle_zip['zipcode'].values
for zipcode in zipcodes : 
    address = zipcode + " Washington" # Formats the place name
    url = 'https://api.opencagedata.com/geocode/v1/json?q={}&key={}'.format(address, API_KEY) # Gets the proper url to make the API call
    obj = json.loads(requests.get(url).text) # Loads the JSON file in the form of a python dictionary
    
    results = obj['results'] # Extracts the results information out of the JSON file
    lat = results[0]['geometry']['lat'] # Extracts the latitude value
    lng = results[0]['geometry']['lng'] # Extracts the longitude value
    
    latitudes.append(lat) # Appending to the list of latitudes
    longitudes.append(lng) # Appending to the list of longitudes
seattle_zip['Latitude']=latitudes
seattle_zip['Longitude']=longitudes
seattle_zip.head()

  zipcode   Latitude   Longitude
0   98101  47.610760 -122.336181
1   98102  47.621611 -122.321227
2   98103  47.673749 -122.343934
3   98104  47.600708 -122.331334
4   98105  47.662934 -122.320552

In [10]:
seattle_zip.to_csv('seattle_zip.csv')

In [11]:
seattle_zip.iloc[40]

zipcode        98160
Latitude     47.4323
Longitude   -121.803
Name: 40, dtype: object

In [16]:
zipcode='98160'
address = zipcode + "Seattle. Washington" # Formats the place name
url = 'https://api.opencagedata.com/geocode/v1/json?q={}&key={}'.format(address, API_KEY) # Gets the proper url to make the API call
obj = json.loads(requests.get(url).text) # Loads the JSON file in the form of a python dictionary
results = obj['results'] # Extracts the results information out of the JSON file
lat = results[0]['geometry']['lat'] # Extracts the latitude value
lng = results[0]['geometry']['lng'] # Extracts the longitude value

In [17]:
lat

47.6038321

In [18]:
lng

-122.3300624

In [19]:
zipcode='98131'
address = zipcode + "Seattle. Washington" # Formats the place name
url = 'https://api.opencagedata.com/geocode/v1/json?q={}&key={}'.format(address, API_KEY) # Gets the proper url to make the API call
obj = json.loads(requests.get(url).text) # Loads the JSON file in the form of a python dictionary
results = obj['results'] # Extracts the results information out of the JSON file
lat = results[0]['geometry']['lat'] # Extracts the latitude value
lng = results[0]['geometry']['lng'] # Extracts the longitude value

In [20]:
lat

47.6038321

In [21]:
lng

-122.3300624

There are five zip codes with wrong coordinates. I save them in the wrong_coordinates.csv file.

In [47]:
wrong_coordinates=pd.read_csv('wrong_coordinates.csv')

In [48]:
wrong_coordinates

   Unnamed: 0  index  zipcode
0           0     10    98111
1           1     21    98124
2           2     25    98129
3           3     26    98131
4           4     40    98160

In [49]:
wrong_coordinates['Latitude']=[47.6099, 47.6100, 47.6415, 47.6415, 47.7700] #47.6099° N, 122.3400° W 47.6100° N, 122.3300° W 47.6415° N, 122.3583° W 47.6415° N, 122.3596° W 47.7700° N, 122.3600° W

In [50]:
wrong_coordinates['Longitude']=[-122.3400, -122.3300, -122.3583, -122.3596, -122.3600]

In [51]:
wrong_coordinates=wrong_coordinates.drop(['Unnamed: 0', 'index'],axis=1)

In [52]:
wrong_coordinates.to_csv('corrected_cor.csv')